<link rel="stylesheet" href="{{ 'custom-header.css' | asset_url }}" media="print" onload="this.media='all'">

<header class="site-header">
  <div class="top-header">
    <div class="container">
      <div class="header-left">
        <a href="{{ shop.url }}" class="site-logo">
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }} logo">
        </a>
      </div>

      <div class="header-center">
        <form action="/search" method="get" class="search-bar">
          <input type="text" name="q" placeholder="Search products..." />
          <button type="submit">Search</button>
        </form>
      </div>

      <div class="header-right">
        <a href="/account" class="account-icon">
          <svg>...</svg> <!-- Insert SVG for account -->
        </a>
        <a href="/cart" class="cart-icon">
          <svg>...</svg> <!-- Insert SVG for cart -->
        </a>
      </div>
    </div>
  </div>


  <div class="bottom-header">
    <nav class="navigation-menu">
      <ul>
        {% for link in linklists.main-menu.links %}
          <li class="menu-item">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links %}

              <div class="mega-menu">
                <ul>
                  {% for sublink in link.links %}
                    <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
