


<link rel="stylesheet" href="{{ 'custom-banner.css' | asset_url }}">

<style>
    {% for block in section.blocks %}
    @media all and (max-width: 768px){
        .banner-wrapper .banner-slide{
            background-image: url({{block.settings.mImage | img_url: 'master'}}) !important;
        }
    }
    {%endfor%}
</style>
<section id="main-banner">
    <div class="banner-wrapper">
        {% for block in section.blocks %}
             {% if block.settings.dImage != blank %}
                <div class="banner-slide" style="background-image: url({{block.settings.dImage | img_url: 'master'}});">
                    <div class="banner-text-wrap">
                    {% if block.settings.heading != blank %}
                        <h1>{{block.settings.heading}}</h1>
                    {% endif %}
                    {% if block.settings.sub-heading != blank %}
                        <p class="">{{block.settings.sub-heading}}</p>
                    {% endif %}
                    {% if block.settings.btn-text != blank %}
                        <a href="{{block.settings.btn-link}}" class="banner-button">{{block.settings.btn-text}}</a>
                    {% endif %}
                    </div>
                </div>
                {% endif %}
        {% endfor %}
    </div>
</section>


<script>
    $('.banner-wrapper').slick({
        dots: true,
        infinite: {{section.settings.infinite}},
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: {{section.settings.autoplay}},
        autoplaySpeed: {{section.settings.slider-speed}},
        fade: true,
        pauseOnHover: false
    });

</script>

{% schema %}
{
  "name": "custom banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "infinite",
      "default": false,
      "label": "Infinte Slider"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": true,
      "label": "Autoplay Slider"
    },
    {
      "type": "range",
      "id": "slider-speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "default": 4000,
      "label": "Slider Speed"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "banner",
      "limit": 10,
      "settings": [
        {
            "type": "image_picker",
            "id": "dImage",
            "label": "Slider Image"
        },
        {
            "type": "image_picker",
            "id": "mImage",
            "label": "Slider Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "Banner Heading"
        },
        {
            "type": "text",
            "id": "sub-heading",
            "default": "Image banner Sub Heading",
            "label": "Banner SubHeading"
          },
         {
             "type": "text",
             "id": "btn-text",
             "label": "Button Text",
             "default": "Button"
         },
        {
            "type": "url",
            "id": "btn-url",
            "label": "Button Link"
        },
        {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
            "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Banner",
      "blocks": [
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}